<!doctype html>
<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<link rel="stylesheet" href="screen.css" />
		</head>
    
    <body>
		<section id="reservation-form">
			<form>
	
				<label>First name:</label>
				<input type="text" id="first_name" name="first_name" placeholder="First name" required>
	
				<label>Last name:</label>
				<input type="text" id="last_name" name="last_name" placeholder="Last name" required>
	
	
				<label>Dining date:</label>
				<input type="date" id="dining_dt" name="dining_dt" required>
	
	
				<label>Number of Covers</label>
				<input type="number" id="guests" name="guests" value="1" min="1" required>
	
				<label>Phone Number</label>
				<input type="tel" id="phone" name="phone" required>
	
				<label>Email address:</label>
				<input type="email" id="email_addr" name="email_addr" required>
	
				<input type="button" id="submit" value="Make Reservation" /> 
				<a id="seeReservations" href="#guestList">See Reservations</a>
			</form>
		</section>
					
		<section id="guestList">
			<h3>Reservations</h3>
				<ul>
				</ul>
		</section>
		<script id="template" type="text/template">
			<li>
				<p><b>Full Name:</b><%= firstName %> <%= lastName %></p>
				<p><b>Date:</b> <%= date %></p>
				<p><b>Guests:</b> <%= guestsNumber %></p>
				<p><b>Email:</b> <%= email %></p>
				<select>
					<option>Not arrived</option>
					<option>Seated</option>
				</select>
				</li>
		</script>
					
		<script src="jquery.min.js "></script>
		<script src="underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="backbone.localStorage-min.js"></script>
		<script src="app.js"></script>   
    </body>

</html>
